<nav>
  <app-header></app-header>
</nav>

<div class="relative  overflow-hidden">
  <div
    class="flex  transition-transform duration-500"
    [style.transform]="getTransformStyle()"
  >
    <div
      *ngFor="let slide of slides"
      class="flex-shrink-0 w-full h-full bg-cover bg-center"
      [style.backgroundImage]="'url(' + slide.img + ')'"
    >
      <div class="absolute inset-0 bg-black bg-opacity-30 flex flex-col items-center justify-center">
        <h3 class="text-white text-xl font-semibold">{{ slide.title }}</h3>
        <p class="text-green-400 text-sm">{{ slide.greentext }}</p>
        <p class="text-white text-2xl font-bold">{{ slide.Price }}</p>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <button
    (click)="prevSlide()"
    class="absolute top-1/2 left-0 transform -translate-y-1/2 px-4 py-2 text-white bg-black bg-opacity-50 hover:bg-opacity-70"
  >
    &#60;
  </button>
  <button
    (click)="nextSlide()"
    class="absolute top-1/2 right-0 transform -translate-y-1/2 px-4 py-2 text-white bg-black bg-opacity-50 hover:bg-opacity-70"
  >
    &#62;
  </button>
</div>
<section>
  <app-cart></app-cart>
</section>
