<nav>
  <app-header></app-header>
</nav>

<div class="carousel-container">
  <div
    *ngFor="let slide of slides; let i = index"
    class="carousel-item relative w-full"
    [ngClass]="{
      block: currentSlide === i + 1,
      hidden: currentSlide !== i + 1
    }"
  >
    <img [src]="slide.image" class="w-full" alt="Slide Image" />
    <div
      class="absolute top-1/2 left-5 right-5 transform -translate-y-1/2 flex justify-between"
    >
      <button (click)="goToSlide(currentSlide - 1)" class="btn btn-circle">
        ❮
      </button>
      <button (click)="goToSlide(currentSlide + 1)" class="btn btn-circle">
        ❯
      </button>
    </div>
  </div>
</div>

<section>
  <app-cart></app-cart>
</section>
<app-footer> </app-footer>
