<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Forgot your account?
        </h1>
        <form (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6" action="#">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
            <input type="email"
                   name="email"
                   id="email"
                   [(ngModel)]="email"
                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
          </div>
          <p class="text-red-400 text-sm font-bold mt-2 ">{{email_msg}}</p>
          <button type="submit" class="w-full p-3 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Send verification token</button>
        </form>
        <p class="text-sm font-light text-gray-500">
          Already remember ? <a routerLink="/app-login" routerLinkActive="active" ariaCurrentWhenActive="page" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign in</a>
        </p>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>