<nav
  class="bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 text-white shadow-md"
>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <!-- Brand/Logo -->
      <a href="#" class="text-2xl font-bold">Our Store</a>

      <!-- Navbar Links -->
      <div class="hidden absolute right-0 mr-20 md:flex md:space-x-4">
        <a
          routerLink="/app-login"
          class="hover:text-blue-400 font-medium px-3 py-2 rounded-md cursor-pointer"
        >
          Log Out
        </a>
        <a
          routerLink="/app-new-trends"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="hover:text-blue-400 font-medium px-3 py-2 rounded-md cursor-pointer"
        >
          New Trends
        </a>
        <a
          routerLink="/app-checkout"
          class="hover:text-blue-400 font-medium px-3 py-2 rounded-md cursor-pointer"
        >
          CheckOut
        </a>
        <a
          href="/app-footer"
          class="hover:text-blue-400 font-medium px-3 py-2 rounded-md cursor-pointer"
        >
          Contact
        </a>
        <div class="relative mt-2">
          <button
            (click)="toggleCart()"
            class="px-4 flex hover:text-blue-400 font-semibold"
          >
            Cart
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-10 h-6 text-yellow-600 cursor-pointer"
              fill="none"
              viewBox="0 0 24 24"
              stroke="yellow"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 3h18l-2 13H5L3 3zm3 14a2 2 0 100 4 2 2 0 000-4zm10 0a2 2 0 100 4 2 2 0 000-4z"
              />
            </svg>
          </button>
        </div>
      </div>

      <!-- Cart Sidebar -->
      <app-cart-sidebar [isOpen]="isOpen"></app-cart-sidebar>
    </div>
  </div>
</nav>
